build/lib/fetch/__init__.py
build/lib/fetch/data_sequence.py
build/lib/fetch/utils.py
build/lib/fetch/models/model_list.csv
build/lib/fetch/models/a_FT_DenseNet121_2_DMT_Xception_13_256/ft_DenseNet121_2_dt_Xception_13_256.yaml
build/lib/fetch/models/b_FT_DenseNet121_2_DMT_VGG16_1_32/ft_DenseNet121_2_dt_VGG16_1_32.yaml
build/lib/fetch/models/c_FT_DenseNet169_6_DMT_Xception_13_112/ft_DenseNet169_6_dt_Xception_13_112.yaml
build/lib/fetch/models/d_FT_DenseNet201_4_DMT_Xception_13_32/ft_DenseNet201_4_dt_Xception_13_32.yaml
build/lib/fetch/models/e_FT_VGG19_3_DMT_Xception_13_128/ft_VGG19_3_dt_Xception_13_128.yaml
build/lib/fetch/models/f_FT_DenseNet169_6_DMT_VGG16_1_512/ft_DenseNet169_6_dt_VGG16_1_512.yaml
build/lib/fetch/models/g_FT_VGG19_3_DMT_VGG16_1_128/ft_VGG19_3_dt_VGG16_1_128.yaml
build/lib/fetch/models/h_FT_DenseNet201_4_DMT_InceptionResNetV2_20_160/ft_DenseNet201_4_dt_InceptionResNetV2_20_160.yaml
build/lib/fetch/models/i_FT_DenseNet201_4_DMT_VGG16_1_32/ft_DenseNet201_4_dt_VGG16_1_32.yaml
build/lib/fetch/models/j_FT_VGG19_3_DMT_InceptionResNetV2_20_512/ft_VGG19_3_dt_InceptionResNetV2_20_512.yaml
build/lib/fetch/models/k_FT_DenseNet121_2_DMT_InceptionV3_18_64/ft_DenseNet121_2_dt_InceptionV3_18_64.yaml
build/scripts-3.7/candmaker.py
build/scripts-3.7/predict.py
build/scripts-3.7/train.py
dist/fetch-0.1.8-py3.7.egg
fetch.egg-info/dependency_links.txt
fetch.egg-info/PKG-INFO
fetch.egg-info/SOURCES.txt
fetch.egg-info/top_level.txt
